.primary-color {
    color: var(--text-primary);
}

.text-secondary {
    color: var(--text-secondary)
}

.primary-bg {
    background-color: var(--background)
}

.light-color {
    color: #fff
}

.dark-color {
    color: #000
}

.modal-content {
    border: 0 !important;
}

.modal-body {
    border-radius: 10px !important;

}

.modal-backdrop.show {
    opacity: 1;
    background-image: linear-gradient(180deg, var(--gradiant-primary), var(--gradiant-secondary));

    /* background-image: linear-gradient(to bottom, rgb(78, 225, 251), rgb(255, 255, 255)); */
}


.rs-drawer-body {
    padding: 0px !important;
}

